.detournee {
    text-decoration: underline;
}

.contandante {
    font-weight: bold;
}

article h2, article h3 {
    color: red;
}

aside ul li > ul {
    list-style: none;
}

#armes > ul {
    color: green;
}

#armes li ul {
    color: blue;
}

section img {
    height: 1em;
}

aside img {
    width: 20vw;
}

#annexes section + section > ul {
    list-style: none;
}